.homePage {
    width: 100%;
    min-height: calc(100vh - 80px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  
  }

.post{
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 7rem 4rem;
    text-align: center;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.653),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
    padding: 5rem;
    background-color: whitesmoke;
    width: 1000px;
    height: auto;
    max-height: auto;

}

.postHeader{
    color:rgb(182, 118, 150);
    font-size:1.2rem;
    margin-bottom: 3rem;
    text-align: center;
    margin-top: -2rem;
    margin-bottom:2rem;
    font-weight: 100;

}


.date {
    display: inline;
    font-weight: 100;
    font-size: 1rem;
    padding:1rem;
    margin:50px;
}


.name {
    display: inline;
    text-align: center;
    font-size: 1rem;
    padding:1rem;
    font-weight: 100;
    margin:50px;

}

.moreInfo {
    margin-top: 3rem;
    color: yellowgreen;
}

.post .postTextContainer {

    word-wrap: break-word;
    height: auto;
    max-height: 400px;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    font-size:1.2rem;
    font-weight: 200;
  }

  .accordion  {
    display: none;

}

.accordion.active {
    display: block;
    
}

.icon {
    margin-top: 2rem;;
}

  