.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(17, 17, 17);
  }


  .container {
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
  }
  
  
  .h2 {
    font-weight: 100;
    font-size: 3rem;
    word-spacing: .3rem;
    margin-top: 9rem;
    margin-bottom: 3rem;
  }
  
  
  .btn {
    font-weight: 100;
    min-width: 13rem;
    padding: 1rem;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    outline: none;
    border-radius: .2rem;
    background: radial-gradient(circle at 3% 7.4%, rgb(207, 0, 243) 0%, rgb(0, 240, 120) 90%);
  /*   box-shadow: 0 10px 15px -3px grey, 0 4px 6px -4px rgb(0 0 0 / 0.1); */
    letter-spacing: 1px;
  }
  
  .btn:hover {
  /*   background: radial-gradient(circle at 3% 7.4%, rgb(103, 182, 235) 0%, rgb(142, 182, 255) 90%); */
    filter: brightness(90%);
  }
  
 

  .linkCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .hyperlink {
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
    text-decoration: none;
    color:rgb(109, 60, 98);
  }


  .p {
    font-size: 1.2rem;
    font-weight: 100;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
  }